/target/
/.rustwide
/.rustwide-docker
/Justfile
/justfiles/
/LICENSE
/README.md
/docker-compose.yml
/dockerfiles/
/docs/
/ignored
/mcps
/triagebot.toml
/clippy.toml
/.env
/.env.*
/.envrc
/.docker.env
archive_cache
