**/ignored
/.env
/.docker.env
/src/web/badge/Cargo.lock
target
/node_modules
*.css
*.css.map
!vendor/**/*.css
!static/ayu-highlight.css
.sass-cache
.vagrant
.rustwide
.rustwide-docker
archive_cache
.workspace
docs/book/
docs/src/generated/
